USE [master]
GO
/****** Object:  Database [TasksApp]    Script Date: 5/13/2019 1:55:51 AM ******/
CREATE DATABASE [TasksApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tasks-app.mdf', FILENAME = N'D:\ASP MVC\RDC\RDC\App_Data\tasks-app.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tasks-app_log.ldf', FILENAME = N'D:\ASP MVC\RDC\RDC\App_Data\tasks-app_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TasksApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TasksApp]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/13/2019 1:55:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubTasks]    Script Date: 5/13/2019 1:55:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Priority] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[TaskId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SubTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 5/13/2019 1:55:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[SubTasks] ON 

INSERT [dbo].[SubTasks] ([Id], [Title], [Description], [Priority], [Date], [Status], [TaskId]) VALUES (28, N'mamz', N'wdwd', N'Mid', CAST(0x0000AA4000000000 AS DateTime), N'Backlog', 116)
INSERT [dbo].[SubTasks] ([Id], [Title], [Description], [Priority], [Date], [Status], [TaskId]) VALUES (29, N'mooooz', N'wdwd', N'Mid', CAST(0x0000AA4600000000 AS DateTime), N'In Progress', 116)
SET IDENTITY_INSERT [dbo].[SubTasks] OFF
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([Id], [Title], [Description], [Date], [Status]) VALUES (116, N'mamwdwdwd', N'dwwd', CAST(0x0000AA5500000000 AS DateTime), N'Backlog')
INSERT [dbo].[Tasks] ([Id], [Title], [Description], [Date], [Status]) VALUES (117, N'mamwdwdwd', N'wdwdw', CAST(0x0000AA4000000000 AS DateTime), N'In Progress')
INSERT [dbo].[Tasks] ([Id], [Title], [Description], [Date], [Status]) VALUES (119, N'testz', N'test test', CAST(0x0000AA4E00000000 AS DateTime), N'In Progress')
SET IDENTITY_INSERT [dbo].[Tasks] OFF
/****** Object:  Index [IX_TaskId]    Script Date: 5/13/2019 1:55:51 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaskId] ON [dbo].[SubTasks]
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SubTasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubTasks_dbo.Tasks_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubTasks] CHECK CONSTRAINT [FK_dbo.SubTasks_dbo.Tasks_TaskId]
GO
USE [master]
GO
