@{
    ViewBag.Title = "Index";
    Layout = null;
}

<ul class="nav nav-tabs" id="subTasksTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="allSubTasksTab" data-toggle="tab" href="#viewSubTasksTab">All SubTasks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="subTaskConfigTab" data-toggle="tab" href="#subTaskTab">New SubTask</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="viewSubTasksTab">
        @Html.Action("ViewAll")
    </div>
    <div class="tab-pane fade" id="subTaskTab">
        @Html.Action("Create")
    </div>
</div>