@model RDC.ViewModels.TaskViewModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div class="form-group d-flex justify-content-sm-between">
    
    <input type="text" name="filter" id="searchTasks" class="form-control offset-md-2 col-md-3" placeholder="Search by any thing.." onkeyup="searchTasks(event)">
    
    <select class="form-control offset-md-4 col-md-2" id="statusFilter" onchange="resetSearchInput();filterTasksByStatus(this)">
        <option disabled selected>Select Filter</option>
        @foreach (var item in Model.StatusList)
        {
            <option value="@item">@item</option>
        }
    </select>
</div>


@Html.Partial("_ViewAllTasksTablePartial", Model)